body {
    margin: 0 -15px;
}

/* ---HOME/INDEX--- */
.header-menu {
    height: 50px;
    background-color: #E1B378;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

.logo-text {
    font-family: 'Coiny', cursive;
    font-size: 30px;
}

    .logo-text .logo-color-1 {
        color: #EC799A;
    }

    .logo-text .logo-color-2 {
        color: #9F0251;
    }