.homepage-content {
    margin-top: 15px;
}

.movie-img {
    margin: 0 auto;
    width: 100%;
    height: 150px;
    padding: 3px;
}

.movie-title {
    /*display: block;
    margin-top: .25rem;
    height: 4.2rem;
    font-size: .9rem;
    line-height: 1.1rem;
    overflow: hidden;*/
    display: block;
    /* margin-top: .25rem; */
    height: 38px;
    /* font-size: .9rem; */
    /* line-height: 1.1rem; */
    overflow: hidden;

    h6 {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.list-tags {
    column-count: 4;
}

.custom-nav-tabs {
    .nav-tabs {
        li .active {
            border-top-color: #3c8dbc;
        }
    }

    .nav-tabs {
        li {
            border-top: 3px solid transparent;
            margin-bottom: 0px;
            /*margin-right: 5px;*/
            a {
                background: transparent;
                margin: 0;

                &:hover {
                    background: transparent;
                    margin: 0;
                }
            }
        }

        .nav-link {
            border-top: 3px solid transparent;
        }
    }

    .tab-content {
        margin-top: 5px;
    }
}
