.watch-movie-icon {
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.movie-img-related {
    width: 180px;
    height: 230px;
    object-fit: cover;
    object-position: 100% 0%;
}
.player-style{
    /*margin: 15px;*/
}

.logo_channel{
    max-height: 50px;
}