$heigth_head_title: 60px;
$width_navigation: 250px;

$heigth_menu_item: 40px;

$width_second_navigation: 182px;
$heigth_second_menu_title: 60px;

$font_size_content_title: 16px;

$panel_login_min_width: 350px;

$width_modal_dialog: 400px;

$width_tab_header: 150px;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;