$url_image_logo_getzpass: "https://smoovturnkey.s3.amazonaws.com/smoovpos/logo20x34.png";
$url_image_text_getzpass: "https://smoovturnkey.s3.amazonaws.com/smoovpos/logo20x36.png";
$url_image_user: "https://smoovturnkey.s3.amazonaws.com/smoovpos/user.png";